@media screen and (max-width: 768px) {
    #page0 h1{
        font-size: 1.5em;
    }
    #page0 blockquote{
        width: 80vw;
        margin: 0 auto;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.5em;
    }

    #pg0boat{
        width: 50%;
    }

    #page1 {
        width: 100%;
        height: 400vh;
    }

    .pg1{
        font-size: 0.8em;
        width: 70vw;
    }

    #page1 frame{
        width: 70vw;
    }

    .w_hidden{
        display: none;
    }

    #small_table{
        display: inline;
        width: 70vw;
    }

    .resize_title{
        font-size: 1.5em;
    }

    .resize_title1{
        font-size: 1.5em;
    }

    .pg2img{
        max-height: 30vh;
        max-width: 30vw;
    }

    .ocp_hidden{
        opacity: 0;
    }

    .panel-body p{
        font-size: 0.8em;
    }

    .map_panel{
        width: 70vw;
        margin-top: -15vh;
    }

    .map_info{
        font-size: 0.8em;
    }

    .map_infor{
        font-size: 0.8em;
    }

    .pg25{
        width: 70vw;
    }

    .pg25 p{
        font-size: 0.8em;
    }

    #articleImg{
        max-width: 70vw;
        padding: 2vw 0 1vw 0;
    }

    .boat_img{
        width: 80%;
        height: 80%;
        padding-top: 10vh;
    }

    #difficult{
        width: 70vw;
    }

    .pg6{
        width: 70vw;
    }

    .pg6 p{
        font-size: 0.8em;
    }

    .pg7img{
        width: 70vw;
    }

    #page7{
        height: 140vh;
    }

    #btt i{
        font-size: 3em;
    }

    .pg3after h5{
        color: brown;
        font-weight:bold;
    } 
    h6{
        font-size: 0.6em;
    }
  }
